<div class="boxe">
  <% @letters.each do |letter| %>
    <h1 class="letterbox"><%=letter%></h1>
  <% end %>
</div>

<form action="/score" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="answer" placeholder="LONG WORD !!?">
  <input type="submit">
</form>
